<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadReceipt</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.DownloadReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadUTMEApplicants</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.uploads.UploadUTMEApplicants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDEApplicants</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.uploads.UploadDEApplicants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadInvoice</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.DownloadInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadUTMEOLevel</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.uploads.UploadUTMEOLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.asyn.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAdmissionTemplate</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadAdmissionTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadExamCard</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadExamCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadRegistrationForm</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadRegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadPGAppForm</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadPGAppForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadTranscriptForm</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadTranscriptForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCompleteApplications</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.DownloadCompleteApplications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Interswitch</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.Interswitch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSHPayments</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.CSHPayments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CredoPaymentInit</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.CredoPaymentInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadUTMEPostutme</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.uploads.UploadUTMEPostutme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSummerForm</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadSummerForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadJambAdmissionlist</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.uploads.UploadJambAdmissionlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Downloadadmissionlist</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.Downloadadmissionlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPGAdmissionlist</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.uploads.UploadPGAdmissionlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadadmissionlistPG</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.DownloadadmissionlistPG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostelAllocationSlip</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.downloads.HostelAllocationSlip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Etranzact2</servlet-name>
        <servlet-class>com.mnl.eduportal.servlet.Etranzact2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadReceipt</servlet-name>
        <url-pattern>/DownloadReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadUTMEApplicants</servlet-name>
        <url-pattern>/UploadUTMEApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDEApplicants</servlet-name>
        <url-pattern>/UploadDEApplicants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadInvoice</servlet-name>
        <url-pattern>/DownloadInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadUTMEOLevel</servlet-name>
        <url-pattern>/UploadUTMEOLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAdmissionTemplate</servlet-name>
        <url-pattern>/DownloadAdmissionTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadExamCard</servlet-name>
        <url-pattern>/DownloadExamCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadRegistrationForm</servlet-name>
        <url-pattern>/DownloadRegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadPGAppForm</servlet-name>
        <url-pattern>/DownloadPGAppForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadTranscriptForm</servlet-name>
        <url-pattern>/DownloadTranscriptForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCompleteApplications</servlet-name>
        <url-pattern>/DownloadCompleteApplications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Interswitch</servlet-name>
        <url-pattern>/payments/Interswitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSHPayments</servlet-name>
        <url-pattern>/payments/CSHPayments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CredoPaymentInit</servlet-name>
        <url-pattern>/CredoPaymentInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadUTMEPostutme</servlet-name>
        <url-pattern>/UploadUTMEPostutme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSummerForm</servlet-name>
        <url-pattern>/DownloadSummerForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadJambAdmissionlist</servlet-name>
        <url-pattern>/UploadJambAdmissionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Downloadadmissionlist</servlet-name>
        <url-pattern>/Downloadadmissionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPGAdmissionlist</servlet-name>
        <url-pattern>/UploadPGAdmissionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadadmissionlistPG</servlet-name>
        <url-pattern>/DownloadadmissionlistPG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostelAllocationSlip</servlet-name>
        <url-pattern>/HostelAllocationSlip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etranzact2</servlet-name>
        <url-pattern>/Etranzact2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/error-pages/unauthorized.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/error-pages/unauthenticated.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error-pages/not-found.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error-pages/general-error.html</location>
    </error-page>
    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/WEB-INF/error-pages/view-expired.html</location>
    </error-page>
    <error-page>
        <!-- No error-code or exception-type, i.e. this will match any other HTTP status
        than defined above -->
        <location>/WEB-INF/error-pages/unknown-error.html</location>
    </error-page>
</web-app>
